<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kundinformation</title>
    
<body>
    <h1>Kundinformation</h1>
    <div class="customer-info">
        <h2>Kunddetaljer</h2>
        <p><strong>Förnamn:</strong> {{ customer.given_name }}</p>
        <p><strong>Efternamn:</strong> {{ customer.surname}}</p>
        <p><strong>Stad:</strong> {{ customer.city }}</p>
        <p><strong>Totalt saldo:</strong> {{ total_balance }}</p>
    </div>
    <div class="account-info">
        <h2>Konton</h2>
        <ul>
            {% for account in accounts %}
            <li>
                <p><strong>Kontonummer:</strong> {{ account.id }}</p>
                <p><strong>Saldo:</strong> {{ account.balance }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
